body{
    background: linear-gradient(81deg, #E7F0FF 9.01%, rgba(232, 241, 255, 0.47) 89.11%);
}

.blueDiv{
    width: 100%;
    height: 100px;
    background-color: #0C8CE5;    
    border-radius: 0 0 16px 16px;
}
.searchBoxContainer{
    margin-top: -60px;
    background-color: white;
    width: 1200px;

    border-radius: 15px;
    box-shadow: 6px 6px 35px 0px #1028511C;
}
.mainSection{
    margin-top: 1rem;
    padding: 0 6rem 0 7rem;
    /* border: 1px dotted black; */
    display: flex;
    justify-content: space-evenly;
}
.text{
    display: flex;
    flex-direction: column;    
    padding-left: 10rem;
    margin-top: 3rem;
}
.text>p, .text>div{
    /* border: 1px dotted blue; */
}
.p_for_availableCenters{
    /* font-family: Poppins; */
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    /* text-align: center; */
    vertical-align: middle;
    color: #000000;
    margin-top: 1rem;
}
.p_verified{
    width: 600px;
    font-family: Poppins;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    /* text-align: center; */
    vertical-align: middle;
    color: #787887;
    display: flex;
    /* justify-content: space-around; */
    gap: 10px;
    align-items: center;
    margin-left: -10px;
    margin-top: -2rem;
    padding-left: 0.6rem;
}
.hospitalCardContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    width: 100%;
}